[submodule "blog_contents/themes/LoveIt"]
	path = blog_contents/themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
[submodule "blog_contents/public"]
	path = blog_contents/public
	url = https://github.com/plooox/plooox.github.io.git
	branch = main
